@page "/"

<div class="overflow-y-auto flex-col w-full h-full flex overflow-hidden">
    <div class="thread">
        <div class="thread-top-container">
            <div class="flex items-center justify-center">
                <div class="mb-7 hidden text-center text-2xl font-semibold">
                    <div class="grid-cols-1 items-center justify-end" style="view-transition-name: ">
                        <h1 class="thread-top-header opacity-100">
                            <div class="text-pretty px-1  whitespace-pre-wrap">Ready when you are.</div>
                        </h1>
                        <div>
                            <div class="flex flex-col items-center">
                                <div class="thinking-indicator" style="display: @(isProcessing ? "flex" : "none")">
                                    <span></span><span></span><span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>>
        </div>
        <div class="thread-bottom-container relative isolate z-10 w-full basis-auto md:border-transparent md:pt-0 md:dark:border-transparent flex flex-col">
            <div class="thread-bottom">
                <div class="gap-4 text-base flex-1 mx-auto flex">
                    <div class="relative flex w-full items-end px-2.5 py-2.5">
                        <div class="flex relative w-full flex-auto flex-col">
                            <!-- Text area  -->
                            <div class="relative mx-2.5 grid grid-cols-4">
                                <div class="thread-bottom-message-area bg-transparent px-3 pe-3 overflow-auto relative flex-auto">
                                    <textarea 
                                        class="block h-10 w-full resize-none border-0 bg-transparent px-0 py-2"
                                        @bind="currentMessage" 
                                        placeholder="Type a message..." 
                                        rows="2"></textarea>
                                </div>
                            </div>
                            <!-- Tools  -->
                            <div class="flex items-center absolute start-2.5 bottom-2.5 w-full end-0">
                                <div class="w-full">
                                    <div class="flex items-center" style="margin-inline-end: 102px;">
                                         &nbsp;
                                        <label class="file-upload">
                                            <InputFile style="display: none" OnChange="UploadFiles" Multiple="true" />
                                        </label>
                                    </div>
                                    <div class="absolute end-2.5 bottom-0 flex items-center gap-2">
                                        <Button Size="ButtonSize.ExtraLarge" @onclick="SendMessage"> 
                                            <Icon Name="IconName.ArrowUpCircleFill" Size="IconSize.x2" Color="IconColor.White"/>
                                        </Button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>



<Preload />