root = true

[*.{cs,csx}]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4


# Suppress very noisy suggestions if desired
dotnet_diagnostic.IDE0001.severity = none
dotnet_analyzer_diagnostic.category-Style.severity = none